.sidebar {
  /* background-color: #f2f2f2; */
  background-color: #0e0d0d;
  color: white;
  margin: 0;
  position: absolute;
  right: 0;
   overflow-y: auto;
   z-index: 1;
}

.sidebar-full {
  padding: 20px;
  width: 25%;
  height: 88vh;
}

.sidebar-closed {
  height: 92vh;
  width: 2%;
  right: 0;
  padding: 0;
}
.input-fields {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-fields label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input-fields input {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.dropdown {
  margin-bottom: 20px;
}

.dropdown select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.text-field {
  margin-bottom: 20px;
}

.text-field label {
  font-weight: bold;
  margin-bottom: 5px;
}

.text-field textarea {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sliders {
  margin-bottom: 20px;
}

.sliders label {
  font-weight: bold;
  margin-bottom: 5px;
}

.sliders input {
  width: 100%;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.sidebar-hidden-toggle{
  width:100%;
  height:90%;
  background-color:"white"; 
  margin: 0; 
  padding: 0;
}

.buttons button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.region-button {
  background-color: #4CAF50;
}

#generate-button {
  /* background-color: #008CBA; */
  margin-right: 10px;
}

.selected-image{
  border: 2px solid black;
}


.sidebar_open_arrow {
    fill: rgb(169, 169, 169);
    font-size: 80px;
    /* width: 25%; */
    /* width: 40px; */
    height: 100%;
    text-align: center;
    display: block;
    margin: 5px 5px;
    padding-bottom: None;

    /* fill: white; */
    width: 33px;
    
    /* height: 50vh; */
    /* font-weight: bold; */
    /* stroke-width: 100px; */
}


.sidebar_close_arrow{
    rotate: y 180deg;
    fill: rgb(169, 169, 169);
    /* font-size: 30px; */
    /* width: 25%; */
    /* width: 10px; */
    height: 100%;
    text-align: center;
    display: block;
    margin: 5px 5px;

    /* fill: white; */
    width: 20px;
    /* height: 50vh; */
    /* font-weight: bold; */
    /* stroke-width: 100px; */
}

.sidebar-close-arrow-container{

    background: #008CBA;
    padding: 3px 0;
}

#refresh-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}


#sidebar-refresh-btn{
  background-color: gray;
  font-size: 30px;
  margin: auto;
  border-radius: 10px;
}

.slider_range_container{
  padding-bottom: 10px;
}

.slider_range_text{
  padding-left: 10px;
  padding-top: 0;
  margin: 0;
}

.slider_range_input{
  margin-top: 5px;
}


.loading {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 0.8s linear infinite;
  display: inline-block;
  margin: 0
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.generate-container{
  display: inline-block;
  margin-top: 30px;
}

.response-message{
  color: white;
}

.response-message-error{
  color: red;
}